*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4vh;
    padding: 20px;
    width: 100vw;
    height: auto;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

h1{
    font-weight: 900;
}
h2{
    font-weight: 400;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;  
    height: auto;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    background-color: rgb(19, 24, 36);
    color: #ffff;
    padding: 20px;
    border-radius: 10px;
    height: auto;
}

input{
    background-color: rgb(57, 60, 71);
    color: #ffff;
    border: none;
    padding: 10px;
    border-radius: 999px;
    font-size: 1.2rem;
}

.btn1{
    background-color: #ffff;
    color: #090909;
    border: none;
    padding:10px 30px;
    border-radius: 999px;
    font-size: 1.2rem;
    opacity: 0.8;
    font-weight: 700;
}

.btn1:hover{
    cursor: pointer;
    opacity: 1;
}

.style-label{
    color: red;
}

